@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

menu , ul , li , a , h1 , i#ham{
    border: 1px solid rgb(47, 0, 255);
}
     

header {
    background-color: gray;

}

header > h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

ul{
    list-style-type: none;
    width: 120px;
    margin: auto;
}

li {
    padding: 5px;
    display:block;
    width: 15vw;
    margin:auto;
}

i#ham {
    display: block;
    cursor: pointer;
    color:black;
    width: 24px;
    border-radius: 3px;
    margin: 6px;
    transition: 0.3s; 
   
}
i#ham:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    width: 24px;
    border-radius: 3px;
    margin: 5px;
    transition: 0.3s;    
}

menu > ul > li > a {
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(63, 63, 227) , rgba(255, 255, 255, 0.11));
    color: rgba(255, 255, 255, 0.745);
    padding: 5px;
    border-radius: 5px;
    display: block;
}
menu > ul > li > a:hover {
    background-image: linear-gradient(to left ,rgb(63, 63, 227),rgba(255, 255, 255, 0.11));
    color: black;
}
menu {
    background-color:rgb(76, 76, 76);
    width: 30vw;
    display: block;
}

main {
    background-color: white;
    padding: 0px 20px;
}

article {
    background-color: lightgray;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

article > h2 {
    padding-left: 20px;
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    padding-bottom: 10px;
    line-height: 1.5em;
    text-indent: 20px;
}
