@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #3985B8, #3985B8);
}
main {
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 15px #255676 ;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    text-align: center;
    color:#3F4245 ;
    text-shadow:1px 1px px #3F4245 ;
}

h2 {
    color:#3F4245 ;
}

p {
    text-align: justify;
    
}